html {
  font-size: 16px;
}
h1{
  text-align: center;
  margin-top: 17%;
}
body{
  background-image: url('frankbg.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: Times New Roman;
  font-size: 1.35rem;
  background-blend-mode: lighten;
  
}
main{
  margin-left: 5%;
}
div{
  top: 2%;
  position: fixed;
  width: 60%;
  overflow-x: scroll;
  overflow-y: scroll;
  height: 60%;
  background-color: white;
  border: black 1px solid;
  padding-top: 13%;
  display: none;
  border-radius: 5%;
  color: black;
  text-align: center;
}
span{
  color: black;
  font-size: 2rem;
  font-weight: bold;
  background-color: white;
  padding-left: 2%;
  padding-right: 2%;
  top: 3%;
  position: fixed;
  border: black 1px solid;
  border-radius: 20%;
}
section{
  background-color: white;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 7%;
  border: 1px black solid ;
  color: black;
  padding: 2%;
}
.date {
  color: #888;           /* soft gray */
  font-size: 0.95rem;    /* slightly smaller */
  margin: 8px 0 20px 0;  /* nice spacing */
  font-style: italic;
}
a{
  color:#8ab9f5 ;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}
h6{
  color: black;
}
img{
  width: 80%;
  margin: 2%;
  aspect-ratio: 4:3;
  border-radius: 5%;
}
button{
  padding: 3%;
  font-size: 1rem;
  border-radius: 9%;
}
